body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

/* ---------------header styles---------------- */

.header-main {
    background-color: #161616;
    color: white;
    margin: 35px 110px;
    border-radius: 20px;
}

.header-container {
    display: flex;
    width: 1321px;
    height: 650px;
}

.header-text {
    width: 100%;
    padding: 110px;
}

.header-banner {
    width: 100%;
    padding: 25px;
}

.header-text h1 {
    font-weight: 700;
    font-size: 50px;
}

.header-text p {
    padding-bottom: 20px;
    color: skyblue;
}

.header-text a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 7px 14px;
    border-radius: 60px;
    border: 2px solid white;
}

.fa-ticket {
    color: yellow;
    padding-left: 10px;
}




/* -----------------main section styles----------------- */

.main-container {
    margin: 110px;
    display: flex;
}

.side-nav {
    background-color: #000000;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.highlights {
    background-color: wheat;
    width: calc(100% - 312px);
    margin-left: 24px;
}

.navigation a {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
}

#current-section-style {
    background-color: #DD0000;
    color: white;
}




/* ------------------match-container-styles------------------- */
.matches {
    border: 1px solid rgb(189, 187, 187);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 50%;
}

.thumbnail img {
    /* width: 315px;
    height: 175px; */
    width: 100%;
}

.info {
    width: 50%;
}