body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

/* ---------------header styles---------------- */

.header {
    background-color: #161616;
    color: white;
    margin: 35px 110px;
    border-radius: 30px;
}

.header-container {
    display: flex;
    width: 1321px;
    height: 650px;
}

.header-text {
    width: 100%;
    padding: 110px;
}

.header-banner {
    width: 100%;
    padding: 25px;
}

.header-text h1 {
    font-weight: 700;
    font-size: 50px;
}

.header-text p {
    padding: 20px 0;
}

.header-text a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 7px 14px;
    border-radius: 60px;
    border: 2px solid white;
}