body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

/* ---------header styles---------- */
.header {
    background-color: #161616;
    color: white;
    width: 82.5625em;
    height: 40.375em;
    margin-top: 3.125em;
    margin-left: 8.75em;
    margin-right: 8.75em;
    display: flex;
}

.header-text {
    width: 100%;
    margin: 6.9375em;
}

.header-banner {
    width: 100%;
    margin: 2.5em;
}

.header a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 7px 14px;
    border-radius: 60px;
    border: 2px solid white;
}